<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthy_content">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Healthy_content">
        <activity
            android:name=".contact_developer"
            android:exported="false"
            android:label="contact to developer"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".take_care"
            android:exported="false"
            android:label="Take Care Of Yourself"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".typing_speed"
            android:exported="false"
            android:label="Typing Speed"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fingers_motion"
            android:exported="false"
            android:label="Fingers Motion"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".keyboard_scheme"
            android:exported="false"
            android:label="Keyboard Scheme"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".home_row_position"
            android:exported="false"
            android:label="home row position"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity_sitting_posture"
            android:exported="false"
            android:label="sitting posture for typing"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            android:label="Typing Pro"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>